#wrap{width:100%}
#wrap > div{ width: 100%; height:100vh}
#wrap > div:nth-child(1){/*background-color: burlywood;*/ background:url(./images/main.png) no-repeat 0 0;}
#wrap > div:nth-child(2){background-color: #fff;}
#wrap > div:nth-child(3){background-color: #222222}
#wrap > div:nth-child(4){background-color: rgb(135, 183, 222);}
#wrap > div:nth-child(5){background-color:#ecebe3 }
#wrap > div > div{margin: 0 auto; width: 1500px;  height: 100vh;
                  /* background-color:rgba(255, 244, 146, 0.5); */
                  }
#main .header{ width: 100%; height: 120px;} 
#main .logo{float: left; margin:  20px 0 0 0;  
            width: 180px; height: 80px;  color: #716E64;} 
#main .nav{ float: right; margin: 50px 0 0 0;}
#main .nav li{ float: left; margin-right: 20px;}     
#main .nav a{font-size: 28px; font-weight: 700; color:#BFBFBF; 
            } 
#main .nav li.on a{color:#000;}

#main h2{ float: left; width: 100%;
          font-size:60px; text-align: left;
          font-weight: 500;
          color: #FFFFFF;
          padding-right:70px; box-sizing: border-box;}
#main p{float:left; margin:20px 100px 0 0; 
        font-size:30px; color: #D6CBC2;}
#main .H{margin-top: 500px;}
#main .menu{
    width: 750px;height: 50px;
    margin: -150px 200px;
    float: left;
}
#main .menu p{
    float: left;
    font-size: 20px;
}
#main .menu a{
    color: #FFFFFF;
    font-weight: 700;
}

#q_mn{
    position: absolute; right:20px; top: 300px; z-index: 9999;
    width:120px; height:200px; border-radius: 6px;
    border:1px solid #ccc;
    background-color: #fff; 
}
#q_mn ul.nav{ margin:0 auto; margin-top:30px; list-style:none; width:50px;}	
#q_mn ul.nav li{ margin-bottom:10px}   
#q_mn ul.nav li a{ color: #ccc;}
#q_mn ul.nav li.on a{ color: rgb(15, 15, 15);}

#profile{
    display: flex;
    align-items: center;
    justify-content: center;
}
#profile .in_profile{
    width: 1300px;
    height: 750px;
    background-color: #ecebe3;
    border: 1px solid #ecebe3;
}
#profile .in_profile .p1 h2{
    margin-left: 40px;
    font-size: 40px;
}
#profile .p1{
    width: 100%;
    height: 80px;
    line-height: 100px;
}
#profile .p2{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    width:100%;height: 650px;
}
#profile .p2 .p1_1{
    float: left;
    margin-left: 15px;
    width: 400px; height: 650px;
}
#profile .p2 .p1_2{
    float: left;
    margin-left: 25px;
    width: 800px;height: 650px;
}
#profile .p2 .p1_1 .img{
    margin-top: 15px;
    width: 300px; height: 200px;
    background-color: #2c0f0f;
}
#profile .p2 .p1_1 .name{
    font-size: 30px;
    font-weight: bold;
    margin-top: 60px;
}
#profile .p2 .p1_1 .add{
    font-size: 20px;
    font-weight: 700;
    margin-top: 90px;
}
#profile .p2 .p1_1 .add p{
    margin-top: 15px;
}
#profile .p2 .p1_1 .add span{
    font-weight: 500;
}
#profile .p2 .p1_2 .intro{
    margin-top: 120px;
    font-size: 20px;
    font-weight: 700;
}
#profile .p2 .p1_2 .intro2{
    margin-top: 35px;
}
#profile .p2 .p1_2 .intro2 p{
    margin-top: 10px;
}
#profile .p2 .p1_2 .intro3{
    margin-top: 35px;
}
#profile .p2 .p1_2 .intro3 p{
    margin-top: 10px;
}
#skill{
    display: flex;
    justify-content: center;
    align-items: center;
}
#skill .in_skill{
    width: 900px;height:740px;
    font-size: 30px;
}
#skill .in_skill h2{
    font-size: 30px;
    color:#C13E3E ;
}
#skill .in_skill p{
    margin-top: 20px;
    color: white;
}
#skill .in_skill .sk_txt{
    font-size: 18px;
}
#skill .in_skill .sk_per{
    font-size: 18px;
}

#container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}
#skill .in_skill .per{
    margin-top: 60px;
    float: left;
    position: relative;
    width: 220px;
    height: 250px;
    background: #2a2a2a;
    display: flex;
    justify-content: center;
    align-items: center;
}
#skill .in_skill .percent{
    position: relative;
    width: 150px;
    height: 150px;
}
#skill .in_skill .percent1{
    position: relative;
    width: 150px;
    height: 150px;
}
#skill .in_skill .percent2{
    position: relative;
    width: 150px;
    height: 150px;
}
#skill .in_skill .percent3{
    position: relative;
    width: 150px;
    height: 150px;
}
#skill .in_skill svg
{
    position: relative;
    width: 150px;
    height: 150px;
    transform: rotate(270deg);
}

#skill .in_skill svg circle
{
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke-width: 2;
    stroke: #191919;
    transform: translate(5px,5px);
}
#skill .in_skill svg circle:nth-child(2){
    stroke: var(--clr);
    stroke-dasharray: 440;
    stroke-dashoffset: calc(440 - (440 * var(--num)) /100);
    animation : fadeIn 2s linear forwards;
}
#skill .in_skill .percent1 svg circle:nth-child(2){
    stroke-dashoffset: calc(440 - (440 * var(--num)) /100);
}
#skill .in_skill .percent2 svg circle:nth-child(2){
    stroke-dashoffset: calc(440 - (440 * var(--num)) /100);
}
#skill .in_skill .percent3 svg circle:nth-child(2){
    stroke-dashoffset: calc(440 - (440 * var(--num)) /100);
}
@keyframes fadeIn
{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}
#skill .in_skill .dot
{
    position: absolute;
    inset: 5px;
    z-index: 10;
    /* 360deg / 100 = 3.6 */
    animation: animateDot 2s linear forwards;
}
@keyframes animateDot
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(calc(3.6deg * var(--num)));
    }
}

#skill .in_skill .dot::before
{
    content:'';
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--clr);
    box-shadow: 0 0 10px var(--clr),
    0 0 30px var(--clr);
}


#skill .in_skill .number
{
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 1.5s;
}
#skill .in_skill .number p{
    font-size: 20px;
}





#project{}                                             
#project .in_project{display: flex; justify-content: center; align-items: center;}
#project .list{ 
    float: left;
    width: 1410px;height:600px;
    }
#project .list .pro1{
    position: relative;
    z-index: 1;
    float: left;
    width: 300px;height: 300px;
    background-color: #309ad3;
    color: white;
    transition: all 0.2s linear;
}
#project .list .pro1:hover{
    transform: scale(1.04);
    z-index: 3;
}
#project .list .pro1 span{
    margin-left: 50px;
    font-size: 70px;
    line-height: 180px;
}
#project .list .pro1 p{
    margin-top: 10px;
    font-size: 14px;
    text-align: end;
    margin-right: 15px;
}
#project .list .pro2{
    float: left;
    margin-left: -90px;
    width: 290px;height: 290px;border-radius: 50%;
    background-color: #020202;
    border: 5px solid #C13E3E;
}
#project .list .pro2 p{
    text-align: center;
    margin-top: 53px;
    font-size: 20px;
    color: white;
}
#project .list .pro2 span{
    display: none;
}
#project .list .pro2:hover{
   background-color: white;
   transition-duration: 0.3s;
   color: black;
   
}
#project .list .pro2:hover p{
    display: none;
}
#project .list .pro2:hover span{
    font-size: 15px;
    margin-top: 110px;
    margin-left: 85px;
    display: block;
    color: black;
}
#project .list .pro3{
    position: relative;
    z-index: 1;
    float: left;
    margin-left: 90px;
    width: 300px;height: 300px;
    background-color: #BFBFBF;
}
#project .list .pro4{
    float: left;
    margin-left: -90px;
    width: 300px;height: 300px;border-radius: 50%;
    background-color: #ffffff;
}
#project .list .pro5{
    position: relative;
    z-index: 1;
    margin-left:300px;
    float: left;
    width: 300px;height: 300px;
    background-color: #BFBFBF;
}
#project .list .pro6{
    float: left;
    margin-left: -90px;
    width: 300px;height: 300px;border-radius: 50%;
    background-color: #ffffff;
}
#project .list .pro7{
    position: relative;
    z-index: 1;
    float: left;
    margin-left: 90px;
    width: 300px;height: 300px;
    background-color: #BFBFBF;
}
#project .list .pro8{
    float: left;
    margin-left: -90px;
    width: 300px;height: 300px;border-radius: 50%;
    background-color: #ffffff;
}
#end{
    display: flex;
    align-items: center;
}
#end .in_end{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 1300px; height: 600px;
    background-color: rgb(204, 190, 201);;
    border: 1px solid #ecebe3;
}
#end .in_end h2{
    font-size: 80px;
}
#end .in_end p{
    margin-top: 70px;
    font-size: 20px;
}